<main class="container my-5">
  <h1>Middleware practice</h1>
  <!-- operation -->
  <div class="row">
    <div class="col-4 d-flex flex-column">
      <a href="/" class="btn btn-success mb-3">GET /</a>
      <a href="/delay" class="btn btn-success mb-3">GET /delay</a>
      <a href="/new" class="btn btn-success mb-3">GET /new</a>
      <a href="/id777" class="btn btn-success mb-3">GET /:id</a>
      <form action="/" method="POST" class="d-flex flex-column mb-3">
        <button class="btn btn-success">POST /</button>
      </form>
    </div>
    <div class="col-8 d-flex justify-content-center align-items-center">
      <p class="h2">{{message}}</p>
    </div>
  </div>
  <!-- result log -->
  <div class="row flex-column">
    <h2>Logs:</h2>
    <form action="/download" method="POST" class="mb-3">
      <button class="btn btn-success">Download log file</button>
    </form>
    {{#each logs}}
    <p>{{this.date}} {{this.time}} | {{this.method}} from {{this.url}}</p>
    {{/each}}
  </div>
</main>